% Dependencies
{deps, [
    {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
    {emysql, "", {git, "git://github.com/Eonblast/Emysql.git", "HEAD"}},
    {elli, "", {git, "git://github.com/knutin/elli.git",{branch,"ssl"}}},
    {oauth2, "", {git, "git://github.com/kivra/oauth2.git"}},
    {jiffy, "", {git, "git://github.com/davisp/jiffy.git"}},
   	{apns, "", {git, "git://github.com/inaka/apns4erl"}}
]}.
